{% extends "base.html" %}
{% load static %}

{% block body_class %}form-signin{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" >
{% endblock %}

{% block title %}Iniciar sesión{% endblock %}

{% block body %}
<form class="login-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Los tíos de Vito</h1>
    <h3 class="h3 mb-3 font-weight-normal">Bienvenido de nuevo</h3>
    <label for="id_username" class="sr-only">Usuario</label>
    <input type="text" name="username" id="id_username" class="form-control" placeholder="Usuario" required autofocus>
    <label for="password" class="sr-only">Contraseña</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>
        {% if form.errors %}
        <p class=" label label-danger">
            Your username and password didn't match.
            Please try again.
        </p>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}" />
    <p class="mt-5 mb-3 text-muted">Paula Camargo | Jan Llerena | Josué Ttito &copy; 2017-2018</p>
</form>
{% endblock %}



