{% extends "base_dashboard.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block body %}
{{ block.super }}

<div class="container">
    <h3>Crear oferta</h3>
  <form method="post" class="form">
    {% csrf_token %}
    <div>
      {% bootstrap_field form.product %}
      <a href="{% url 'marketplace:products-add' %}">Agregar producto</a>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">{% bootstrap_field form.quantity %}</div>
      <div class="col-md-6">{% bootstrap_field form.expiration_date %}</div>
    </div>

    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Crear oferta
      </button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
