{% extends "base_dashboard.html" %}

{% block body %}
{{ block.super }}

<div class="container">
    <a href="{% url 'marketplace:products-add' %}" class="btn btn-primary">
        <i class="fas fa-plus"></i> Crear producto
    </a>
    <hr>
    <h1>Productos</h1>
    <ul>
    {% for product in object_list %}
        <li>{{ product.name }}</li>
    {% empty %}
        <li>No hay productos registrados.</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
