{% extends "base_dashboard.html" %}


{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block body %}
{{ block.super }}
<div class="container">
  <h3>Crear producto</h3>
  <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_field form.name %}
    {% bootstrap_field form.category %}
    {% bootstrap_field form.description %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Crear producto
      </button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
