body {
    margin-top: 75px !important;
}

.offers .offer, .offer-detail-head {
    display: flex;
    align-items: center;
}

.offers .offer img {
    width: 150px;
    height: 150px;
}

.offers .offer .offer-description {
    margin-left: 15px;
}
