{% extends "base_dashboard.html" %}
{% load static %}

{% block body_class %}dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" >
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
{{ block.super }}

<div class="container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    <div class="offer-detail row">
        <div class="col-md-9">
            <div class="offer-detail-head">
                <img src="https://i.linio.com/p/62924cd59406cf73df22f5289b619eac-product.jpg" />
                <div class="offer-description">
                    <h3>{{ object.product.name }}</h3>
                    <div>{{ object.product.category }}</div>
                    <div>{{ object.quantity }}</div>
                    <div>{{ object.status }}</div>
                </div>
            </div>
            <p>
                {{ object.product.description }}
            </p>
        </div>
        <div class="col-md-3">
            {% if user.user_type == 'ong-member' and not is_already_demanded %}
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-people-carry"></i> Solicitar producto
                </button>
            </form>
            <hr />
            {% endif %}
            <div class="list-group">
                {% if user.user_type == 'ong-member' and is_already_demanded %}
                <a href="#" class="list-group-item-success list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Solicitud enviada</h5>
                    </div>
                    <small>Hace 15 minutos.</small>
                </a>
                {% endif %}
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Última solicitud</h5>
                    </div>
                    <small>Hace 2 horas.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Número de solicitudes</h5>
                    </div>
                    <small>43</small>
                </a>
            </div>
        </div>
    </div>
    {% if user.user_type == 'donor' %}
    <h3>Lista de solicitantes</h3>
    {% for demand in demands %}
        <div class="demand">
            <div class="list-group">
                <div class="list-group-item">
                    <a class="btn btn-success">Aceptar</a> {{ demand.petitioner }}
                </div>
            </div>
        </div>
    {% empty %}
        <div>Sin solicitantes :'(</div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
