{% extends "base_dashboard.html" %}
{% load static %}

{% block body_class %}dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" >
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
{{ block.super }}

<div class="container">
    <div class="offers">
        {% for offer in object_list %}
        <div class="row">
            <div class="offer col-md-9">
                <img src="https://i.linio.com/p/62924cd59406cf73df22f5289b619eac-product.jpg" />
                <div class="offer-description">
                    <h3><b>Producto: </b> {{ offer.product.name }}</h3>
                    <div><b>Categoría: </b> {{ offer.product.category }}</div>
                    <div><b>Cantidad ofrecida: </b> {{ offer.quantity }}</div>
                </div>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" href="{% url 'marketplace:offer-detail' pk=offer.id %}">
                <i class="fas fa-eye"></i> Ver producto</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
