{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" >
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Los tíos de Vito [{% if user.user_type == 'ong-member' %}ONG{% else %}Proveedor{% endif %}]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        {% if user.user_type == 'ong-member' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'marketplace:offers-list' %}">Ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'marketplace:demands-list' %}">Mis solicitudes</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'marketplace:offers-list' %}">Mis ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'marketplace:products-list' %}">Mis productos</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>

{% endblock %}
